target/
*.gram

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#Other -neumantm
.directory
*.log

#Other -sinpat
.idea
*.iml

#Ignore config files
*.properties
!/apikeys/plugin.config.properties
