build/
target/
bin/
*.gram
.classpath
.project
org.eclipse.core.resources.prefs

temp/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#Other -neumantm
.directory
*.log

#Other -sinpat
.idea
*.iml

#Ignore config files
*.properties
!**/META-INF/*.properties

#Include docker and dev configs
!.docker/config/**
!.dev/config/**

*.db

#Ignore chrome user profile except the permission preset and first launch config
remote-sr/src/main/resources/chrome_profile/*
!remote-sr/src/main/resources/chrome_profile/First\ Run
!remote-sr/src/main/resources/chrome_profile/Default/
remote-sr/src/main/resources/chrome_profile/Default/*
!remote-sr/src/main/resources/chrome_profile/Default/Preferences
