<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDERR"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>DENY</onMatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="de.unistuttgart.iaas.amyassist.amy" level="DEBUG" />
	<logger name="marytts" level="WARN" />
	<logger name="default.config.edu.cmu.sphinx" level="WARN" />
	<logger name="org.glassfish.grizzly.http.server" level="WARN" />
	<logger name="marytts.TextToMaryXML" level="ERROR" />
	<logger name="org.glassfish.jersey.internal.inject.Providers"
		level="ERROR" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
	</root>
</configuration>